:root {
    --text-speed: 30s;
    }

    
 /*
  * FONTS
  */
  
  /*SWITZER FONTS*/
  @font-face {
    font-family: 'Switzer-Regular';
    src: url('./fonts/switzer/Switzer-Regular.woff2') format('woff2'),
         url('./fonts/switzer/Switzer-Regular.woff') format('woff'),
         url('./fonts/switzer/Switzer-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Switzer-Medium';
    src: url('./fonts/switzer/Switzer-Medium.woff2') format('woff2'),
         url('./fonts/switzer/Switzer-Medium.woff') format('woff'),
         url('./fonts/switzer/Switzer-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Switzer-Bold';
    src: url('./fonts/switzer/Switzer-Semibold.woff2') format('woff2'),
         url('./fonts/switzer/Switzer-Bold.woff') format('woff'),
         url('./fonts/switzer/Switzer-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }


  @font-face {
    font-family:'Switzer-Semibold';
    src: url('./fonts/switzer/Switzer-Semibold.woff2') format('woff2'),
         url('./fonts/switzer/Switzer-Semibold.woff') format('woff'),
         url('./fonts/switzer/Switzer-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  

  @font-face {
    font-family: 'Switzer-Black';
    src: url('./fonts/switzer/Switzer-Black.woff2') format('woff2'),
         url('./fonts/switzer/Switzer-Black.woff') format('woff'),
         url('./fonts/switzer/Switzer-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }

  
  /*SWITZER FONTS*/

  @font-face {
    font-family: 'Manrope-Regular';
    src: url('./fonts/manrope/Manrope-Regular.woff2') format('woff2'),
         url('./fonts/manrope/Manrope-Regular.woff') format('woff'),
         url('./fonts/manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Manrope-Medium';
    src: url('./fonts/manrope/Manrope-Medium.woff2') format('woff2'),
         url('./fonts/manrope/Manrope-Medium.woff') format('woff'),
         url('./fonts/manrope/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }


  /*BEER GOGGLES FONTS*/
  @font-face {
    font-family: 'Beer-Goggles';
    src: url('./fonts/beer/beerg.woff2') format('woff2'),
         url('./fonts/beer/beerg.woff') format('woff'),
         url('./fonts/beer/beerg.ttf') format('truetype');
         font-weight: normal;
         font-style: normal;
  }

    
    body,
    html {
      background-color: #F1F1F1;
      color: #BF7545;
      overflow: hidden;
      height: 100dvh;
      width: 100dvw;
    }

    .logos {
        width: 180px;
        height: 180px;
        position: absolute;
        left: 5px;
        margin-top: -25px;
    }
       

      
      .text {
        font-family: 'Pathway Gothic One', sans-serif;
        text-align: justify;
        /* font-size: 500%;
        font-weight: 600; */
        width: 100vw;
        margin: auto;
        transform-style: preserve-3d;
        perspective: 900px;
      }
      
      .text__inner {
        animation: text-crawl var(--text-speed) linear forwards;
        transform-origin: top middle;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      
      .text h1 {
        text-align: center;
        text-transform: uppercase;
      }
      
      .text p {
        font-size: 1.45rem;
      }
      
      @keyframes text-crawl {
        from {
          transform-origin: top middle;
          transform: rotateX(20deg) translate(-50%, 50%);
        }
        
        to {
          transform-origin: top middle;
          transform: rotateX(25deg) translate(-50%, -100%);
        }
      }
      
      